# Rust
/target/
**/*.rs.bk

# Miscellaneous system files
.DS_Store
*~
._*
.env
Thumbs.db

# Editor files
/.vs/
/.vscode/
/.idea/

# Switch formats
*.nso
*.nro
*.nacp
*.npdm
*.pfs0
*.nsp
*.kip

# IDA binaries
*.id0
*.id1
*.id2
*.idb
*.i64
*.nam
*.til

# Build results
*.bin
**/mirage-*/
